.card {
  width: 150px;
  padding: 22px 15px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  border: 3px solid #d1d1d1;
  border-radius: 18px;

  h5 {
    font-size: 22px;
    text-align: center;
    margin: 0 0 6px 0;
  }

  div {
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    color: #6b6b6b;
  }

  p {
    font-size: 18px;
    text-align: center;
    color: #b8b8b8;
    font-weight: 500;
    margin: 0;
    white-space: break-spaces;
  }
}

@media screen and (max-width: 576px) {
  .card {
    padding: 16px 12px;
    gap: 12px;
    width: 135px;

    h5 {
      font-size: 18px;
      margin: 0 0 4px 0;
    }

    div {
      font-size: 32px;
    }

    p {
      font-size: 16px;
    }
  }

}